<div id="alert-2" class="fixed bottom-10 flex px-24 p-4 bg-green-100 rounded-lg dark:bg-red-200 h-12" role="alert">
    <span class="sr-only">Info</span>
    <div class="ml-3 text-sm font-medium text-green-700 dark:text-red-800">
        Copied to clipboard
    </div>
</div>

<style>
    #alert-2 {
        display: none;
        z-index: 999;
    }
</style>

<script>
    function show() {
        document.getElementById('alert-2').style.display = 'block';
        setTimeout(() => {
            document.getElementById('alert-2').style.display = 'none';

        }, 5000);
    }
</script>


<section class="relative">

    <div class="text-center pb-12">
        <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-900">
            {{data.name}}
        </h1>
        <h2 class="mt-5 text-base font-bold text-indigo-600">
            {{data.desc}}
        </h2>
    </div>

    <script>
        function CopyToClipboard(id) {
            var r = document.createRange();
            r.selectNode(document.getElementById(id));
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(r);
            document.execCommand('copy');
            window.getSelection().removeAllRanges();
            show()
        }
    </script>


    <div class="center">
        <div class="width">
            <div
                class="b-8 block p-6 bg-grey-100 rounded-lg border border-gray-200 shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex">
                    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Frontend</h5>
                    <a href="" onclick="CopyToClipboard('frontend');return false;"
                        class=" m-3 rounded inline-flex group items-center justify-center px-2 py-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
                        <span class="w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full"></span>
                        <span class="">Copy</span>
                    </a>
                </div>
                <pre>
                <cose id="frontend" class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{data.frontend}}</cose>
                </pre>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="width">
            <div
                class="b-8 block p-6 bg-grey-100 rounded-lg border border-gray-200 shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex">
                    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Backend</h5>
                    <a href="" onclick="CopyToClipboard('backend');return false;"
                        class=" m-3 rounded inline-flex group items-center justify-center px-2 py-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
                        <span class="w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full"></span>
                        <span class="">Copy</span>
                    </a>
                </div>
                <pre>

                <code id="backend" class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{data.backend}}</code>
                </pre>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="width">
            <div
                class="b-8 block p-6 bg-grey-100 rounded-lg border border-gray-200 shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex">
                    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Database</h5>
                    <a href="" onclick="CopyToClipboard('schema');return false;"
                        class=" m-3 rounded inline-flex group items-center justify-center px-2 py-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
                        <span class="w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full"></span>
                        <span class="">Copy</span>
                    </a>
                </div>
                <pre>

                <code id="schema" class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{data.schema}}</code>
                </pre>
            </div>
        </div>
    </div>

    <div class="center">
        <div class="width">
            <div
                class="b-8 block p-6 bg-grey-100 rounded-lg border border-gray-200 shadow-md hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                <div class="flex">
                    <h5 class="m-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Linking</h5>
                    <a href="" onclick="CopyToClipboard('linking');return false;"
                        class=" m-3 rounded inline-flex group items-center justify-center px-2 py-1 cursor-pointer border-b-4 border-l-2 active:border-purple-600 active:shadow-none shadow-lg bg-gradient-to-tr from-purple-600 to-purple-500 border-purple-700 text-white">
                        <span class="w-0 h-0 transition-all duration-300 ease-out bg-white rounded-full"></span>
                        <span class="">Copy</span>
                    </a>
                </div>
                <pre>

                <code id="linking" class="mt-4 font-normal text-gray-700 dark:text-gray-400">{{data.linking}}</code>
                </pre>
            </div>
        </div>
    </div>

    <style>
        .center {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .width {
            width: 90vw;
        }
    </style>