<!doctype html>
<html lang="en">


<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#149fff">
    <meta name="google-site-verification" content="jJtw40VLTEcIFoV5cyyjsN1HbqU7fXXMlTJ39z9mm5o" />
    <title>Studocu</title>
    <!-- Search Engine -->
    <meta name="description" content="{{blogdisc}}">
    <meta name="image" content="/images/logo.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{blogname}}">
    <meta itemprop="description" content="{{blogdisc}}">
    <meta itemprop="image" content="/images/logo.png">
    <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
    <meta property="og:title" content="{{blogname}}">
    <meta property="og:description" content="{{blogdisc}}">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Studocu">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{blogname}}">
    <meta property="twitter:description" content="{{blogdisc}}">
    <meta property="twitter:image:src" content="/images/logo.png">

    <link rel="stylesheet" href="/src/master.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/logo.png">
    <script src="/src/index.js"></script>

    <!-- Search Engine -->
    <meta name="description" content="{{blogname}}">
    <meta name="image" content="/images/logo.png">
    {{!-- adsbygoogle --}}
    <script data-ad-client="ca-pub-1044322610224848" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.tiny.cloud/1/fuxvme8sx24ud1p0ivum0nqhuioq857oivxe0clxix9p22ek/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <!-- Bootstrap CSS -->

    <link rel="icon" type="png" href="/images\logo.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@400;600&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
 
</head>

<body>


    {{> navbar}}
    <div class="body flex justify-center items-center">
        {{{body}}}
    </div>
    {{> footer}}

    <style>
        .body {
            margin-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>