<!doctype html>
<html lang="en">


<head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="theme-color" content="#149fff">
    <meta name="google-site-verification" content="jJtw40VLTEcIFoV5cyyjsN1HbqU7fXXMlTJ39z9mm5o" />
    <title>Studocu</title>
    <!-- Search Engine -->
    <meta name="description" content="{{blogdisc}}">
    <meta name="image" content="/images/logo.png">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{blogname}}">
    <meta itemprop="description" content="{{blogdisc}}">
    <meta itemprop="image" content="/images/logo.png">
    <!-- Open Graph general (Facebook, Pinterest & LinkedIn) -->
    <meta property="og:title" content="{{blogname}}">
    <meta property="og:description" content="{{blogdisc}}">
    <meta property="og:image" content="/images/logo.png">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="Studocu">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary">
    <meta property="twitter:title" content="{{blogname}}">
    <meta property="twitter:description" content="{{blogdisc}}">
    <meta property="twitter:image:src" content="/images/logo.png">

    <link rel="stylesheet" href="/src/master.css">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/images/logo.png">
    <script src="/src/index.js"></script>

    <!-- Search Engine -->
    <meta name="description" content="{{blogname}}">
    <meta name="image" content="/images/logo.png">
    {{!-- adsbygoogle --}}
    <script data-ad-client="ca-pub-1044322610224848" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="https://cdn.tiny.cloud/1/fuxvme8sx24ud1p0ivum0nqhuioq857oivxe0clxix9p22ek/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>
    <!-- Bootstrap CSS -->

    <link rel="icon" type="png" href="/images\logo.png">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="dist/clipboard.min.js"></script>

    {{!-- For Syntax Highlighting --}}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>


</head>

<body>





    {{> navbar}}
    <div class="body px-4 sm:px-24  min-h-screen flex justify-center ">
        {{{body}}}
    </div>
    {{> footer}}

    <style>
        .body {
            margin-top: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    </style>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
</body>

</html>